//font-size
$base-font-size: 16px;

//Input Range
$slider-thumb-size: 30px;
$slider-track-height: 20px;

//BMI Bar
$bmi-bar-height: 20px;
$bmi-level-height: 160%;

$bmi-gradient-position-1: 0%;
$bmi-gradient-position-2: 33%;
$bmi-gradient-position-3: 65%;
$bmi-gradient-position-4: 100%;

$bmi-level-1-width: 17%;
$bmi-level-2-width: 38%;
$bmi-level-3-width: 28%;
$bmi-level-4-width: 17%;

$bmi-index-bubble-width: 60px;
$bmi-index-arrow-size: 8px;